# Ignore Mac system files
.DS_store

# Ignore Python Caches
**__pycache__

# Ignore the data folder
var-reduction/data

# Ignore the outputs folder 
var-reduction/outputs

# Ignore the archived folder 
var-reduction/archived

# Ignore the paper-drafts folder 
var-reduction/paper-drafts